<div class="jumbotron jumbotron-fluid">
    <div class="container  text-center">
        <h1 class="display-4">Burger Time!</h1>
        <p class="lead">Let's eat some burgers!</p>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <section class="undevoured-burgers col-md-4">
            <h2>Burgers to eat:</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=0}}
                {{/unless}}
                {{/each}}
            </ul>
        </section>

        <section class="add-burger-section col-md-4 text-center">
            <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="burger-add">Burger:</label>
                    <input type="text" id="burger-add" name="name">
                </div>

                <button type="submit">Add Burger</button>
            </form>
        </section>

        <section class="devoured-burgers col-md-4">
            <h2>Burgers we've devoured:</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </section>
    </div>
</div>