<div class="jumbotron jumbotron-fluid">
    <div class="container  text-left text-bottom">
        <container class="jumbotron-burger">
            <div class="burger-time-bun burger-time-top"></div>
            <div class="burger-time-div">
                <h1 class="display-4">Burger Time!</h1>
            </div>
            <div class="burger-time-bun burger-time-bottom"></div>
            <p class="lead" style= "color:black">Let's eat some burgers!</p>
        </container>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <section class="undevoured-burgers col-12 col-md-4">
            <h2>Burgers to eat:</h2>

            <ul class="undevoured-burgers-list">
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=0}}
                {{/unless}}
                {{/each}}
            </ul>
            <div class="bun-bottom undevoured-burgers-bottom"></div>
        </section>

        <section class="add-burger-section col-12 col-md-4 text-center">
            <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group burger-add-div">
                    {{!-- <label for="burger-add">Burger:</label> --}}
                    <input type="text" id="burger-add-input" name="name">
                </div>

                <button type="submit">Add Burger</button>
            </form>
            <div class="bun-bottom add-burger-bottom"></div>
        </section>

        <section class="devoured-burgers col-12 col-md-4">
            <h2>Burgers eaten:</h2>
            <ul class="devoured-burgers-list">
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
            <div class="bun-bottom devoured-burgers-bottom">

            </div>
        </section>
    </div>
</div>
<footer>
    <div class="footer-copyright text-center py-3 sticky-bottom bg-white border-top">Roger Pouncey 2020:
        <a href="https://github.com/rpounceyjr"> GitHub</a>
    </div>
</footer>