li {
    margin: 5px;
}
h2 {
    text-decoration: underline;
}
@media screen and (max-width: 500px) {
    .container {
        text-align: center;
    }
    section{
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }
  